
body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
}


.canvas {
  position: relative;
  width: 1200px;
  height: 2965px;
  margin: 0 auto;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-position: centerã€€top;
  background-size: contain;
  z-index: 0;
}


.gif {
  position: absolute;
  pointer-events: none;
  user-select: none;
}

#music-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 600px;
  background-color: #222;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  z-index: 9999;
  margin: 0 auto;
  right: 0;
  left: 0;
}

#play-pause {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

#progress-container {
  flex: 1;
  height: 6px;
  background: #444;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

#progress {
  background: #4caf50;
  height: 100%;
  width: 0%;
  border-radius: 3px;
  transition: width 0.1s linear;
}

#time {
  width: 50px;
  text-align: right;
  font-family: monospace;
}
